<!DOCTYPE html>
<html>
<head>
    <title>WiFi Security Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="main-container">

    <h1>⚡ WiFi Security Dashboard</h1>
    <button onclick="loadData()">Scan Networks</button>

    <!-- GRID NETWORKS -->
    <div id="container" class="grid"></div>

    <!-- CHART -->
    <div class="chart-box">
        <canvas id="chart"></canvas>
    </div>

</div>

<script>
let chart;

async function loadData() {
    const res = await fetch('/scan');
    const networks = await res.json();

    let html = "";
    let safe = 0, moderate = 0, risky = 0;

    networks.forEach(net => {

        if (net.risk === "Safe") safe++;
        else if (net.risk === "Moderate") moderate++;
        else risky++;

        html += `
        <div class="card ${net.risk.toLowerCase()}">
            <div class="card-top">
                <h3>${net.ssid}</h3>
                <span class="score">${net.net_score}/100</span>
            </div>

            <p>🔐 ${net.encryption}</p>

            <div class="signal-bar">
                <div class="signal-fill" style="width:${net.signal}%"></div>
            </div>
            <p>${net.signal}% signal</p>

            <p>🔑 Password: ${net.password_strength}</p>
            <p>⚠ ${net.risk}</p>
        </div>
        `;
    });

    document.getElementById("container").innerHTML = html;

    updateChart(safe, moderate, risky);
}

function updateChart(safe, moderate, risky) {

    const data = {
        labels: ["Safe", "Moderate", "Risky"],
        datasets: [{
            data: [safe, moderate, risky],
            backgroundColor: ["#00ff88", "#ffcc00", "#ff4444"],
            borderWidth: 0
        }]
    };

    if (chart) chart.destroy();

    chart = new Chart(document.getElementById("chart"), {
        type: "doughnut",
        data: data,
        options: {
            cutout: "70%",
            plugins: {
                legend: {
                    labels: {
                        color: "#fff"
                    }
                }
            }
        }
    });
}

// AUTO REFRESH
setInterval(loadData, 10000);
loadData();
</script>

</body>
</html>